
.root {

}

/* State of calendar text field editor if it contains an invalid value. */
.calendar-editor-error {
    -fx-border-color: red;
    -fx-background-color: #ffc0c0;
}

/* The button which opens the calendar dialog. */
.calendar-dialog-start {
    -fx-cursor: hand;
}

/* The main calendar pane */
.calendar {

}

/* The calendar header, which contains the navigation elements and the information bar. */
.calendar-header {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base,-70%), derive(-fx-base,-90%));
    -fx-padding: 0.4em;
}

/* The calendar footer, which contains the today button. */
.calendar-footer {
    -fx-background-color: linear-gradient(to top, derive(-fx-base,-70%), derive(-fx-base,-90%));
    -fx-padding: 0.2em;
}

/* The 3 different panes, which show the month, the year, the decades and the centuries. */
.calendar-month-view, .calendar-year-view, .calendar-decade-view {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-base,80%), derive(-fx-base,40%));
    -fx-padding: 0;
}

/* The standard cell button which displays the day of the current month or month of current year or similar. */
.calendar-cell-inside-range {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-opacity: 1;
    -fx-cursor: hand;
    -fx-padding: 0.7em;
    -fx-font-weight: bold;
    -fx-border-color: -fx-body-color;
    -fx-border-style: solid;
}

/* The hover state of the standard cell buttons. */
.calendar-cell-inside-range:hover {
    -fx-background-color: -fx-cell-hover-color;
}

/* The focused state of the standard cell buttons. */
.calendar-cell-inside-range:focused {
    -fx-border-color: black;
    -fx-border-style: dashed;
}

/* The cell buttons for values out of viewed range. */
.calendar-cell-out-of-range {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-opacity: 0.7;
    -fx-cursor: hand;
    -fx-padding: 0.7em;
    -fx-border-color: -fx-body-color;
    -fx-border-style: solid;
}

/* The hover state of cell buttons for values out of viewed range. */
.calendar-cell-out-of-range:hover {
    -fx-background-color: -fx-cell-hover-color;
}

/* The focused state of cell buttons for values out of viewed range. */
.calendar-cell-out-of-range:focused {
    -fx-border-color: black;
    -fx-border-style: dashed;
}

/* The cell button which shows the current day. */
.calendar-cell-today {
    -fx-border-radius: 4;
    -fx-border-color: -fx-accent;
    -fx-border-style: solid;
}

/* The cell button which shows the selected day. */
.calendar-cell-selected {
    -fx-background-radius: 4;
    -fx-background-color: -fx-accent;
    -fx-border-style: solid;
}

/* The buttons in the header and the footer */
.calendar-navigation-title, .calendar-today-button {
    -fx-background-color: null;
    -fx-cursor: hand;
    -fx-text-fill: white;
}

/* The arrow for navigation. */
.calendar-navigation-arrow {
    -fx-background-color: null;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* The information bar. */
.calendar-navigation-info {
    -fx-background-color: null;
    -fx-font-size: 0.8em;
    -fx-text-fill: dodgerblue;
    -fx-padding: 0px 0px 3px 0px;
}

/* The focused state of navigation buttons in the header or footer. */
.calendar-navigation-title:focused, .calendar-navigation-arrow:focused, .calendar-today-button:focused {
    -fx-border-color: white;
}

/* Don't make the title button transparent, when it is disabled in the bird view. */
.calendar-navigation-title:disabled {
    -fx-opacity: 1;
}

/* The cells which contain the weekday-names. */
.calendar-weekday-header {
    -fx-background-color: -fx-body-color;
    -fx-padding: 3px;
}

/* Optional column with week-of-year. */
.calendar-week-of-year {
    -fx-font-size: 0.8em;
    -fx-padding: 3px;
    -fx-text-fill: dodgerblue;
}
